body {
  margin: 0;
}

.big-template {
  height: 962px;
  display: grid;
  grid-template-columns: 20% 40% 40%;
  grid-template-rows: 25%
}

.box {

}

.sidebar {
  grid-column: ;
  grid-row: 1/4 ;
  background-color: rgb(0, 136, 255);
}


.heading {
  grid-column: 2/4;
  grid-row: ;
}

.content {
  grid-column: 2/4;
  grid-row: 2/4;
  background-color: rgb(211, 211, 211);
  
}

.heading {
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
  position: relative;
}