body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

.big-template {
  height: 966px;
  display: grid;
  grid-template-columns: 20% 40% 40%;
  grid-template-rows: 25%
}

.sidebar {
  display: flex;
  flex-direction: column;
  grid-column: ;
  grid-row: 1/4 ;
  background-color: rgb(0, 136, 255);
}

.heading {
  grid-column: 2/4;
  grid-row: ;
}

.content {
  grid-column: 2/4;
  grid-row: 2/4;
  background-color: rgb(211, 211, 211);
  
}

.heading {
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
  position: relative;
}

.sidebar i {
  margin-left: 40px;
  padding: 10px 0px;
}

.wrap {
  display: flex;
  padding: 10px;
  color: white;
  font-weight: bold;
}

.wrap div {
  margin-left: 27px;
  align-self: center;
  font-size: 23px;
}

.wrap .home, .wrap .fa-house {
  margin-top: 30px;
}

.wrap .fa-bars {
  margin-left: 15px;
  font-size: 50px;
}

.wrap .dashboard {
  font-size: 40px;
  text-align: center;
}

.wrap .settings, .wrap .fa-gear {
  margin-top: 50px;
}

.heading {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 40% 60%;
}

.quad1 {
  display: flex;
}

.fa-magnifying-glass {
  margin-left: 50px;
  margin-top: 30px;
  font-size: 20px;
}

.search-bar {
  display: flex;
  margin-left: 40px;
  margin-top: 22px;
  width: 760px;
  height: 40px;
  font-size: 20px;
  border-radius: 20px;
  background-color: lightgray;
}

.quad2 {
  margin-left: 100px;
  display: flex;
  align-items: center;
  gap: 35px;
}

.fa-bell {
  font-size: 30px;
}

.pfp {
  border-radius: 500px;
  width: 70px;
  height: 70px;
}

.username {
  font-weight: bolder;
  font-size: 24px;
}

.quad3 {
  display: flex;
  margin-left: 60px;
  align-items: center;
  margin-bottom: 20px;
}

.pfp2 {
  height: 100px;
  width: 100px;
  border-radius: 500px;
}

.morgan {
  width: 600px;
  margin-left: 20px;
}

.hi {
  font-size: 20px;
  font-weight: bolder;
}

.username2 {
  font-size: 30px;
  font-weight: bolder;
}

.quad4 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.quad4 .button {
  background-color: rgb(11, 120, 215);
  color: white;
  font-weight: bolder;
  border-radius: 500px;
  height: 50px;
  width: 120px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  font-size: 18px;
}

.content {
  display: grid;
  grid-template-columns: 35% 35% 30%;
}

.content1 {
  grid-column: 1/4;
  height: 60px;
  display: flex;
  align-items: end;
  margin-left: 50px;
  font-size: 22px;
  font-weight: bold;
  gap: 890px;
}

.content2 {
  height: 700px;
}

.content3 {
  height: 700px;
}

.content4 {
  height: 700px;
}

.card {
  height: 200px;
  width: 450px;
  margin-left: 50px;
  margin-right: auto;
  margin-top: 15px;
  background-color: white;
  border-radius: 10px;
  display: flex;
}

.card-side {
  background-color: orange;
  height: 200px;
  width: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.title-text {
  font-weight: bold;
  margin-top: 10px;
}

.information {
  margin-top: 5px;
}

.card-group {
  margin-left: 20px;
  margin-top: 20px;
  height: 20px;
  width: 400px;
}

.icons {
  display: flex;
  gap: 33px;
  margin-left: 250px;
  margin-top: 17px;
}

.card2, .card3 {
  background-color: white;
  margin-left: 50px;
  margin-top: 15px;
  border-radius: 10px;
  height: 282px;
  width: 350px;
  border: solid 2px black;
}

.trending {
  height: 50px;
  margin-left: 50px;
  font-size: 22px;
  font-weight: bold;
  vertical-align: bottom;
  line-height: 90px
}

.card-contents {
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}

.card-title {
  margin-top: 15px;
  font-weight: bolder;
}

.card-info {
  margin-top: 5px;
  color: rgb(51, 51, 51);
  font-size: 13px;
}

.gap {
  height: 5px;
}

.user-card {
  display: flex;
  margin-left: 40px;
  margin-top: 20px;
  border: solid 2px green;
  width: 250px;
}

.user-tag {
  margin-left: 20px;
  margin-top: 10px;
}

.card3 {
  display: flex;
  flex-direction: column;
}